@media only screen and (max-width: 390px ), (max-width: 414px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-size: auto;
    display: flex;
    flex-direction: column;
    animation: animateBackground 10s linear infinite;
  }
  
  @keyframes animateBackground {
    0% {
      background-position: top left;
      background-color: #707070;
    }
    25% {
      background-color: #949494;
    }
    50% {
      background-color: #9e9e9e;
    }
    75% {
      background-color: #949494;
    }
    100% {
      background-position: bottom right;
      background-color: #707070;
    }
  }

    /* Quando a tela for menor que 768px, alteramos o layout para empilhar verticalmente */
    #menu {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1em;
      width: 100%;
      margin-top: 15%;
      margin-right: 17%;
      z-index: 1000;
    }

  
    i {
      color: #FFA500;
    }

    /* Removemos o padding horizontal e aplicamos espaçamento vertical para cada item do menu */

    .link-menu {
      background-color: #5d4528;
      max-height: 10px;
      height: 100%;
      max-width: 30px;
      width: 100%;
      padding: 30px;
      border-radius: 50%;
      margin: 2%;
    }

    .li-menu.brilho {
        box-shadow: 10px #FFA500; /* Ajuste o valor conforme necessário */
    }
    
    .link-menu.brilho .menu-text {
        filter: brightness(10); /* Ajuste o valor conforme necessário para obter o efeito desejado */
    }

    .link-menu:active {
      background-color: #ca5b00; /* Nova cor quando o botão é clicado */
  }
  
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #text-apresentation {
    display: flex;
    flex-direction: column;
    font-size: 14px ;
    justify-content: center;
    background-color: #252525;
    border-radius: 50px; /* Aumente este valor para arredondar mais as bordas */
    max-width: 350px;
    width: 100%;
    height: auto;
    margin-top: 20%;
    margin-left: 20%;
    margin-right: 20%;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.521);
}
  
    .text-main {
      margin-top: 10%;
      margin-bottom: 10%; 
      margin-left: 5%;
      margin-right: 5%;  
      
    }
    
    #photo-project {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-top: 20%;
      margin-right: 35%;
      margin-bottom: 20%;
    }
  
    .imagem-slider {
      max-height: 350px; height: auto;
      max-width: 350px; width: auto;
      border-radius: 100%;
      box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.541);
    }
  
    footer {
      display: flex;
      flex-direction: column;
      position: unset;
      align-items: center;
      color: #b4b4b4;
      width: 100%;
      height: auto;
      background-color: #252525;
    }

    #left-footer {
      display: flex;
      text-align: center;
      max-width: 414px;
      width: 100%;
      margin-bottom: 3%;
    }

    .gmail-pai {
      display: flex;
    }
    
    .foto-gmail {
      width: 25.6px;
      height: 25.6px;
      margin-left: -85%;
      margin-right: 11%;
    }
    
    .gmail {
      display: flex;
      align-items: center;
      font-size: 1em;
      transition: color 0.5s ease;
    }
    
    .gmail:hover {
      cursor: default;
      color: #FFA500;
    }

    .cell-pai {
      display: flex;
      flex-direction: row;
      margin-top: 2%;
      margin-left: -50%;
    }
    
    .foto-cell {
      width: 25.6px;
      height: 25.6px;
      margin-right: 5%;
    }
    
    .cell {
      display: flex;
      flex-direction: row;
      justify-content: baseline;
      align-items: center;
      font-size: 1em;
      transition: color 0.5s ease;
    }
    
    .cell:hover {
      cursor: default;
      color: #FFA500;
    }

    .linkedin-pai {
      display: flex;
      margin-top: 2%;
      margin-left: 5%;
      margin-bottom: 3%;
    }
    
    .foto-linkedin {
      width: 25.6px;
      height: 25.6px;
      margin-right: 1%;
    }
    
    .linkedin {
      display: flex;
      align-items: center;
      transition: color 0.5s ease;
    }
    
    .a-linkedin:hover {
      cursor: pointer;
      color: #FFA500;
    }
    
    .a-linkedin {
      text-decoration: none;
      color: #b4b4b4;
    }

    #mid-footer {
      display: flex;
      justify-content: end;
      flex-direction: column;
      text-align: center;
      max-width: 414px;
      width: 100%;
      margin-bottom: 5%;
    }
    #right-footer {
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      max-width: 414px;
      width: 100%;
      margin-bottom: 5%;
    }

  }
