* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.minhaDiv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Define uma cor de fundo semi-transparente para a sobreposição */
    display: none; /* Inicialmente oculta a div */
    z-index: 999; /* Define a ordem de sobreposição */
    color: white; /* Cor do texto */
    padding: 20px; /* Espaçamento interno */
}